<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="base::Layout(~{::section})">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
</head>
<body>
    
    
        <section
            class="banner d-flex justify-content-center align-items-center">
            <div class="text-center items-center align-items-center h-[screen] mt-10">
                <h1 class="font-weight-bold items-center">Smart Contact Manager</h1>
                <p>Start Collecting your contacts in very smarter way. we provide
                    very efficient and smarter way of handling contacts.</p>
                    <a th:href="@{/signin}" class="mt-10 btn bg-primary btn-lg text-white">Get Start</a>
            </div>
        </section>
    
</body>
</html>